@import "nib"

/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/

$font = 'Muli', sans-serif
$fontExtraLight = 200
$fontLight = 300
$fontRegular = 400
$fontSemiBold = 600
$fontBold = 700
$fontExtraBold = 800
$fontBlack = 900

$verde = #99dd79
$verde_dos = #525D56
$gris = #4D4D4D
$gris_claro = #F2F2F2

/*--------------------------------------------------------------
# Etiquetas
--------------------------------------------------------------*/

body
    font-size 16px
    font-family $font
    color $gris

ul
    -webkit-padding-start 0px
    margin 0

/*--------------------------------------------------------------
# Componentes
--------------------------------------------------------------*/

.Certificates
    &-certificate
        margin-bottom 1.25rem

.Contact
    &-info
        &-redes
            a
                display inline-block
                size 30px
                line-height 30px
                background-color $gris
                color white
                border-radius 50%
                margin 0 10px

.Footer
    background-color $verde
    padding 20px 0
    color white
    margin-top 50px
    p
        .fa-whatsapp
            font-size 1.875em
            vertical-align middle
    .info
        color $verde_dos
        a
            color white
            font-weight $fontBold
    .copy
        font-size 0.9375em
        padding-top 3.125em

.Header
    background-image url('../images/fondo-header.png')
    padding 20px 0
    height 100vh
    &-menu
        .menu
            .item
                a
                    transition all .4s
                    font-size 1.1875em
                    color white
                    &:hover
                        background-color $verde
                        color white
                        transition all .4s
                .submenu
                    background-color $verde
                    .is-submenu-item
                        a
                            color white
    &-logo
        .logo
            width 80px
    &-titulo
        .super-title
            font-size 3.125em
            color white
            text-align center
            padding-top 25vh
            font-weight $fontExtraBold
            .apellidos
                color $verde
            .especialidades
                display block
    &-arrowdown
        .fa-arrow-down
            background #797979
            border-radius 50%
            bottom 5vw
            color #aaa
            font-size 40px
            height 50px
            left 0
            line-height 50px
            margin 0 auto
            position absolute
            right 0
            text-align center
            width 50px

.Portfolio
    &-work
        margin-top 0
        margin-bottom 2.5em
        transition all .3s
        &:hover
            transition all .3s
            opacity .8
        &-thumbnail
            img
                width 100%
        &-data
            a
                color $gris
                .title
                    font-size 1em
                    font-weight $fontBold
                    margin 0
            .contribution
                margin 0
                color grey
                font-size 0.875em

.Processes
    &-process
        &-info
            padding 0 1.25em
            h3
                font-size 1em
                font-weight $fontBold
                span
                    size 25px
                    line-height 20px
                    text-align center
                    border-radius 50%
                    background-color white
                    border 1px solid $verde
                    color $verde
                    display inline-block
            p
                font-size 14px

/*--------------------------------------------------------------
# OOCSS
--------------------------------------------------------------*/

.medium
    margin-left auto
    margin-right auto
    width 80vw

.section-title
    color $verde_dos
    background-color $gris_claro
    text-transform uppercase
    font-weight $fontBlack
    font-size 35px
    text-align center
    padding 23px 0px
    margin-bottom 1.875em

/*--------------------------------------------------------------
# class / id
--------------------------------------------------------------*/

.tabs
        border 0
        .tabs-title
            display inline-block
            float none
            a
                font-size 1em
                color $verde_dos
                font-weight $fontSemiBold
                transition all .3s
                text-transform uppercase
                &:hover
                    color $gris
                    transition all .3s
                    background-color #e6e6e6
    .tabs-content
        color $gris
        font-size 13px

/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/


@media screen and (min-width: 40rem)
    .medium
        width 50vw

@media screen and (min-width: 64rem)
    .Processes
        background-color #2D2E32
        box-shadow inset 0 -250px 0 0 white
        padding-bottom 20px